html body {
  background: #eee;
}
.liquidFillGaugeText { 
  font-weight: bold; 
}
.reservoir {
  min-height: 450px;
  float: left;
  min-width: 250px;
  margin-left: 20px;
}
.reservoir svg {
  margin: 10px 5px;
}
.name {
  text-align: center;
}
.reservoir span {
  padding-top: 5px;
  margin-top: 5px;
  line-height: 2em;
}
.reservoir h5 {
  margin-top: 5px;
  position: relative;
  left: 20px;
}
.reservoir-wrap {
  width: 100%;
  margin: 30px auto
}
.red {
  color: rgb(255, 119, 119);
}
.blue {
  color: rgb(23, 139, 202);
}
.links {
  position: relative;
  padding: 10px;
  padding-bottom: 9px;
  margin: 10px 0 20px;
}
.data-src {
  clear: right;
}
a {
  color: #337ab7;
  text-decoration: blink;
}
.note {
  font-size: 14px;
}
.links button {
  margin-left: 20px;
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
button:hover {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
}
h3 {
  font-size: 18px !important;
}
h5 {
  font-size: 16px !important;
}

