html {
    font-family: 'Noto Sans', 'sans-serif', 'Microsoft Jhenghei'; 
    background: #eee;
}
body {
    margin: auto;
    width: 90%;
    margin-top: 30px;
}
.liquidFillGaugeText { 
    font-family: Helvetica; font-weight: bold; 
}
.reservoir {
    width: 20%;
    float: left;
    padding: 10px;
    min-width: 250px;
    padding-bottom: 30px;
}
.red {
    color: rgb(255, 119, 119);
}
.blue {
    color: rgb(23, 139, 202);
}
.fb-like.fb_iframe_widget {
    overflow: hidden;
    width: 330px;
}
.links {
    position: relative;
    padding: 10px;
    padding-bottom: 9px;
    margin: 30px 0 20px;
    border-bottom: 1px solid #D2D2D2;
}
.data-src {
    clear: right;
}
a {
    color: #337ab7;
    text-decoration: blink;
}
.note {
    font-size: 14px;
}
