html {
    font-family: 'Noto Sans', 'sans-serif', 'Microsoft Jhenghei'; 
    background: #eee;
}
body {
    margin: auto;
    width: 90%;
    margin-top: 30px;
}
.liquidFillGaugeText { 
    font-weight: bold; 
}
.reservoir {
    width: 20%;
    float: left;
    padding: 10px;
    min-width: 250px;
    padding-bottom: 30px;
}
.red {
    color: rgb(255, 119, 119);
}
.blue {
    color: rgb(23, 139, 202);
}
.fb-like.fb_iframe_widget {
    overflow: hidden;
    width: 330px;
    margin-top: 10px;
    margin-left: 10px;
}
.links {
    position: relative;
    padding: 10px;
    padding-bottom: 9px;
    margin: 30px 0 20px;
    border-bottom: 1px solid #D2D2D2;
}
.data-src {
    clear: right;
}
a {
    color: #337ab7;
    text-decoration: blink;
}
.note {
    font-size: 14px;
}
button {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
button:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
iframe {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch; /*MAKES OVERFLOWN OBJECTS HAVE INERTIA SCROLLING*/
    -webkit-transform: translateZ(0px); /*HELPS THE ABOVE WORK IN IOS5*/
}
