<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang='zh-TW'>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta property="og:title" content="台灣水庫即時水情" />
    <meta property="og:site_name" content="台灣水庫即時水情" />
    <meta property="og:description" content= "台灣水庫即時水情-視覺化">
    <meta property="og:image" content="http://i.imgur.com/lBLHfnQ.jpg">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>台灣水庫即時水情</title>
    <link rel=stylesheet type="text/css" href="css/style.css">
    <link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
    <h4><a href="http://water.taiwanstat.com/">台灣水庫即時水情</a></h4>
    <nav id="menu" class="navigation">
      <ul>
        <li><a href="http://price.taiwanstat.com/">台灣物價指數變化</a></li>
      </ul>
    </nav>
    <div class="fb-plugin">
      <div class="fb-like-box" data-href="https://www.facebook.com/statTaiwan?fref=ts" data-colorscheme="light" data-show-faces="false" data-header="false" data-stream="false" data-show-border="false"></div>
      <div class="fb-like" data-href="http://water.taiwanstat.com/" data-width="300px" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
      <div class="links">
        <button class="go-to" onclick="window.location.href='#reservoir0'">北部</button>
        <button class="go-to" onclick="window.location.href='#reservoir6'">中部</button>
        <button class="go-to" onclick="window.location.href='#reservoir12'">南部</button>
      </div>
    </div>
    <div class="note">
      <li class="data-src">資料來源：<a href="http://www.wra.gov.tw/">經濟部水利署</a></li>
      <li>即時水情資料係自記儀器自動產生，未經人工完整檢驗，僅提供參考。</li>
      <li class="red">預測剩餘天數 = 即時有效蓄水量/昨日下降蓄水量。因降雨、用水量隨時間變化，預測結果僅提供參考。</li>
    <div/>
  {{#each reservoirs}}
  <div class="reservoir">
    <span class="name"><h3>{{title}}</h3></span>
    <svg id="{{id}}" width="100%" height="250"></svg>
    <span class="volumn"><h5>{{volumn}}萬立方公尺</h5></span>
    <span class="state"><h5>萬立方公尺</h5></span>
    <span class="updateAt">更新時間：{{updateAt}}</span>
  </div>
  {{/each}}
    <script src="http://d3js.org/d3.v3.min.js" language="JavaScript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/liquidFillGauge.js" language="JavaScript"></script>
    <script src="js/index.js" language="JavaScript"></script>
 
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-61023469-1', 'auto');
  ga('send', 'pageview');

</script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_TW/sdk.js#xfbml=1&appId=600079286760117&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>
